<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>proj09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>sec01.ex02.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookieValue</display-name>
    <servlet-name>SetCookieValue</servlet-name>
    <servlet-class>sec02.ex01.SetCookieValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieValue</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieValue</display-name>
    <servlet-name>GetCookieValue</servlet-name>
    <servlet-class>sec02.ex01.GetCookieValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieValue</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogin</display-name>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>member.MemberLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/memberLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMemberInformation</display-name>
    <servlet-name>ShowMemberInformation</servlet-name>
    <servlet-class>member.ShowMemberInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMemberInformation</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogOut</display-name>
    <servlet-name>MemberLogOut</servlet-name>
    <servlet-class>member.MemberLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>