<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>proj08</display-name>
  <servlet>
    <description></description>
    <display-name>FirstServlet1</display-name>
    <servlet-name>FirstServlet1</servlet-name>
    <servlet-class>sec01.ex02.FirstServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet1</servlet-name>
    <url-pattern>/first1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet1</display-name>
    <servlet-name>SecondServlet1</servlet-name>
    <servlet-class>sec01.ex02.SecondServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet1</servlet-name>
    <url-pattern>/second1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet2</display-name>
    <servlet-name>FirstServlet2</servlet-name>
    <servlet-class>sec01.ex03.FirstServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet2</servlet-name>
    <url-pattern>/first2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet2</display-name>
    <servlet-name>SecondServlet2</servlet-name>
    <servlet-class>sec01.ex03.SecondServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet2</servlet-name>
    <url-pattern>/second2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet3</display-name>
    <servlet-name>FirstServlet3</servlet-name>
    <servlet-class>sec01.ex04.FirstServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet3</servlet-name>
    <url-pattern>/first3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet3</display-name>
    <servlet-name>SecondServlet3</servlet-name>
    <servlet-class>sec01.ex04.SecondServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet3</servlet-name>
    <url-pattern>/second3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet0</display-name>
    <servlet-name>FirstServlet0</servlet-name>
    <servlet-class>sec02.ex01.FirstServlet0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet0</servlet-name>
    <url-pattern>/first0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendParam</display-name>
    <servlet-name>SendParam</servlet-name>
    <servlet-class>sec02.ex02.SendParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendParam</servlet-name>
    <url-pattern>/sp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendParam2</display-name>
    <servlet-name>SendParam2</servlet-name>
    <servlet-class>sec02.ex03.SendParam1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendParam2</servlet-name>
    <url-pattern>/sp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet001</display-name>
    <servlet-name>SecondServlet001</servlet-name>
    <servlet-class>sec03.ex01.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet001</servlet-name>
    <url-pattern>/second001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet0001</display-name>
    <servlet-name>FirstServlet0001</servlet-name>
    <servlet-class>sec04.ex01.FirstServlet0001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet0001</servlet-name>
    <url-pattern>/first0001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet0001</display-name>
    <servlet-name>SecondServlet0001</servlet-name>
    <servlet-class>sec04.ex01.SecondServlet0001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet0001</servlet-name>
    <url-pattern>/second0001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>member_access.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/viewMembers</url-pattern>
  </servlet-mapping>
</web-app>